{% extends "datacollections/base.html" %}
{% load static %}

{% block content %}
    <form method="POST" action="{% url 'new_collection' %}">
        <button id="id_fetch_btn" type="submit" class="btn btn-dark mt-2">Fetch</button>
        {% csrf_token %}
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.level_tag == 'success' %}
                <p class="has-message alert alert-success" style="margin: 1vh;">{{ message }}</p>
            {% else %}
                <p class="has-message alert alert-danger" style="margin: 1vh;">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <table id="id_collections_table" class="table table-hover mt-2">
        {% for file in data %}
        <tr>
            <td scope="row">
                <a class="collections-row" href="{% url 'collection_details' file.pk %}">{{ file.filename }} </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
