{% extends "datacollections/base.html" %}
{% load static %}

{% block content %}
    <h1>{{ dataset.filename }}</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.level_tag == 'success' %}
                <p class="has-message" style="color: green;">{{ message }}</p>
            {% else %}
                <p class="has-message" style="color: red">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="GET" action="{% url 'value_count' dataset.pk %}">
        <table id="id_collection_details" class="table table-hover mt-2">
            <tr>
                {% for header in headers %}
                    <th scope="col" class="collections-row">
                        <input type="checkbox" id="id_{{ header }}" name="checks[]" value="{{ header }}">
                        <label>{{ header }}</label>
                    </th>
                {% endfor %}
                <td>
                    <button id="id_value_count" type="submit">Value count</button>
                </td>
            </tr>
            {% for page in data %}
                {% for row in page %}
                    <tr class="collections-row">
                            {% for td in row %}
                                <th scope="row">{{ td }}</th>
                            {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}

        </table>
    </form>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_next %}
                <a id="id_load_more" href="?page={{ page_obj.next_page_number }}">Load more</a>
            {% endif %}
        </span>
    </div>
{% endblock %}