{% extends "datacollections/base.html" %}
{% load static %}

{% block content %}
    <h1 style="color: #eedb00;">{{ dataset.filename }}</h1>
    <a class="btn btn-dark mb-2" href="{% url 'view_collections' %}">Back</a>

    {% if messages %}
        {% for message in messages %}
            {% if message.level_tag == 'success' %}
                <p class="has-message alert alert-success" style="margin: 1vh;">{{ message }}</p>
            {% else %}
                <p class="has-message alert alert-danger" style="margin: 1vh;">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="GET" action="{% url 'value_count' dataset.pk %}" class="clearfix">
        <button id="id_value_count" type="submit" class="btn btn-dark float-right">Value count</button>
            <table id="id_collection_details" class="table table-hover mt-2">
                <tr>
                    {% for header in headers %}
                        <th scope="col" class="collections-row">
                            <input type="checkbox" class="btn-check" name="checks[]" value="{{ header }}" id="id_{{ header }}" autocomplete="off">
                            <label class="btn btn-dark" for="id_{{ header }}">{{ header }}</label>
                        </th>
                    {% endfor %}
                </tr>
                {% for page in data %}
                    {% for row in page %}
                        <tr class="collections-row">
                                {% for td in row %}
                                    <td scope="row">{{ td }}</td>
                                {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}

            </table>
    </form>
    {% if page_obj.has_next %}
        <a id="id_load_more"
           class="btn btn-dark mb-5"
           href="?page={{ page_obj.next_page_number }}">Load more</a>
    {% endif %}
{% endblock %}