{% extends "datacollections/base.html" %}
{% load static %}

{% block content %}
<div class="intro text-center">
  <h1>SWAPI Collector<br /><br />Episode I</h1>
  <h1>Django adventures</h1>
  <br>
  <h3>Inspecting data from Star Wars has never been so easy! Fetch all info about characters and their homeworlds with one click</h3>
  <br>
  <h3>Browse all your recordings and investigate all connections between characters thanks to 'grouping by' functionality</h3>
  <br>
  <h3>Enjoy!</h3>
</div>

<!-- found at https://cssdeck.com/labs/8k3h0wq2 - saving for css snippets -->
<!--&lt;!&ndash; I did not find the text of the original generic. So here is a translation into my native language. &ndash;&gt;-->
<!--<audio autoplay>-->
<!--    <source src="http://www.karottes.net/Star%20Wars/sounds/song.ogg" type="audio/ogg">-->
<!--    <source src="http://www.karottes.net/Star%20Wars/sounds/song.mp3" type="audio/mp3">-->
<!--    Your web browser is outdated or don't support OGG and MP3 codecs.-->
<!--</audio>-->
<!--    <div id="prelude">A long time ago in a galaxy far, far away ....</div>-->
<!--    <div id="intro">-->
<!--        <canvas id="canvas"></canvas>-->
<!--        <div id="introContent">-->
<!--          <h2>SWAPI Collector<br /><br />Episode I</h2>-->
<!--        <h2>Django adventures</h2>-->
<!--        <p>Inspecting data from Star Wars has never been so easy! Fetch all info about characters and their homeworlds with one click</p>-->
<!--        <p>Browse all your recordings and investigate all connections between characters thanks to 'grouping by' functionality</p>-->
<!--        <p>Enjoy!</p>-->
<!--        </div>-->
<!--    </div>-->
{% endblock %}