<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>{{ dataset.filename }}</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.level_tag == 'success' %}
                <p class="has-message" style="color: green;">{{ message }}</p>
            {% else %}
                <p class="has-message" style="color: red">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <table id="id_collection_details">
            <tr>
                {% for header in headers %}
                    <th>
                        <input type="checkbox" id="id_{{ header }}" name="checks[]" value="{{ header }}">
                        <label>{{ header }}</label>
                    </th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <tr>
                        {% for td in row %}
                            <td>{{ td }}</td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>